body {
  font-family: "Poppins", sans-serif;
  padding: 15px 10px;
  background-color: #a6d0e4;
}

.weather-app {
  background-image: url("./images/anime.jpg");
  box-shadow: 1px 1px 1px #a6d0e4;
  border-radius: 60px 60px 60px 60px;

  background-position: center center;
  background-attachment: fixed;
  min-height: calc(100vh - 80px);
  max-width: 580px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.btn-outline-info {
  background-color: #5fc9f3;
  color: white;
  border-radius: 10px;
}
h1 {
  text-align: center;
  color: #1e56a0;
  margin: 40px auto;
}
h2 {
  font-size: 16px;
  font-weight: bold;
  color: #1e56a0;
}
hr {
  color: white;
  height: 3px;
  background-color: #1e56a0;
  width: auto;
}
.search-engine {
  text-align: center;
  opacity: 0.7;
}
.search-box {
  width: 250px;
  height: 30px;
  border-radius: 10px;
  border-width: 1px;
}
.main-information {
  text-align: left;
  color: white;
}
.current-emoji {
  font-size: 80px;
  padding-top: 12px;
  color: white;
}
.current-day {
  color: white;
  flex: 1;
}
.current-city {
  font-size: 25px;
  margin: 5px auto;
  color: white;
}
.current-precipation,
.current-wind {
  font-size: 11px;
  color: white;
}
.current-temperature {
  font-size: 50px;
  color: white;
  margin-right: 20px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
.highLow {
  color: white;
}
.card {
  opacity: 0.7;

  width: 90px;
}
#fahrenheitCelsius {
  position: 5px;
  bottom: 35px;
  left: 10px;
  color: white;
  margin-right: 20px;
}

.fahrenheit,
.celsius {
  color: white;
  text-decoration: none;
}

.fahrenheit:hover,
.celsius:hover {
  cursor: pointer;
  color: black;
  opacity: 0.7;
}
